.stages__title {
  width: 400px;
  margin-bottom: 140px;
}
.stages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1240px;
  margin-bottom: 280px;
}
.stages__step {
  display: flex;
  align-items: center;
  width: 605px;
  height: 135px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 3px rgba(57, 57, 57, 0.2);
  border-radius: 7px;
  margin-bottom: 35px;
  padding: 0;
}
.stages__step:nth-child(2n - 1) {
  text-align: right;
  flex-direction: row-reverse;
  padding-left: 110px;
}
.stages__count {
  padding: 0  60px;
  color: #f4c982;
  font-size: 75px;
  font-family: "monserat-black", Arial, sans-serif;
}
