.member {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.member .member__title {
	width: 1090px;
	font-size: 60px;

	&:before {
		top: 52px;
	}
}

.member__info {
	font-size: 24px;
	margin-bottom: 75px;
}